@model IList<EPRacing.Model.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Produkter</h2>
<ul class="thumbnails">
    @foreach(var product in Model) {
        <li class="span3">
            <div class="thumbnail">
                <img alt="" src="@product.Image">
                <div class="caption">
                    <h5>@product.Name</h5>
                    <p>
                        @product.Description
                    </p>
                    <p>
                        <a class="btn primary details" href="#" rel="@product.Id"><i class="icon-zoom-in"></i>
                        </a><a class="btn addto" href="#" rel="@product.Id">Köp <i class="icon-shopping-cart"></i>
                            </a><span class="label label-info price">@product.Price kr</span>
                    </p>
                </div>
            </div>
        </li>
    }
</ul>
@*<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>*@
