<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - EP Racing</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
    <!--[if IE 6]><script type="text/javascript" src="http://deathtoie6.com/ie6-not-supported.js" ></script><![endif]-->
    @*    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>*@
</head>
<body>
    <div id="header">
        <div class="span12">
            <div class="logo">
                <a href=".">
                    <img src="/Content/images/tinyshop/logo.png" alt="" /></a>
            </div>
            @*            <ul class="nav nav-pills">
                <li class="dropdown" id="menu1"><a class="dropdown-toggle" data-toggle="dropdown"
                    href="#menu1">Sort by category <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                    </ul>
                </li>
            </ul>*@ <a class="shopBtn" href="#modalCart"><span class="label label-info" data-bind="text: Products().length">
                0</span></a>
            <div class="hero-unit">
                <h1>Välkommen till EP Racing</h1>
                <p>
                </p>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="span12">
            <div class="span9">
                <div class="mainContent">
                    @RenderBody()
                </div>
            </div>
            <div class="span3" id="rightside">
                @*                <form action="" method="post" name="search">
                <input type="text" placeholder="Search..." />
                </form>*@
                <div class="page-header">
                    <h3>Tweeta , Gilla &amp; Dela</h3>
                </div>
                <p>
                    <a href="http://twitter.com/epracinghb">
                        <img src="/Content/images/tinyshop/nl_twitter.png" alt=""></a><a href="https://www.facebook.com/epracing.se">
                            <img src="/Content/images/tinyshop/nl_facebook.png" alt=""></a><a href="https://plus.google.com/b/103282634961148598778/">
                                <img src="/Content/images/tinyshop/nl_gplus.png" alt=""></a>
                </p>
                @*                <div class="page-header">
                    <h3>Promotion</h3>
                </div>
                <p>
                    facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                    Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>*@ @*        <div class="page-header">
                    <h3>Best Items</h3>
                </div>
                <div class="thumbnail">
                    <img alt="" src="/Content/images/tinyshop/assets/1.jpg">
                    <div class="caption">
                        <p>
                            <a class="btn primary details" href="#" rel="ajax/1.html"><i class="icon-zoom-in"></i>
                            </a><a class="btn addto" href="#" rel="1">Add to <i class="icon-shopping-cart"></i>
                            </a><span class="label label-info price">$ 10</span>
                        </p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="span12">
            <p class="pull-right"><a href="#" id="goTop">Till toppen</a></p>
            <p>
                <a href="mailto:contact@epracing.se">kontakta oss</a>.
            </p>
            <p>&COPY;EP Racing 2012</p>
        </div>
    </footer>
    <!-- popin -->
    <div id="modal">
        <div class="modal">
        </div>
    </div>
    <div id="modalCart">
        <div class="modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>My Cart</h3>
            </div>
            <div class="modal-body">
                <table class="table cartTab">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Products">
                        <tr>
                            <td data-bind="text:Name"></td>
                            <td data-bind="text:Price"></td>
                            <td><a href="javascript:void(0);" data-bind="click: basket.delete" class="trash"><i
                                class="icon-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row modal-footer">
                <div class="span3" style="width: 100px;">
                    <span class="label label-info price">Frakt : <span id="shipping" data-bind="text: Shipping">
                        0</span>kr</span>
                </div>
                <div class="span3" style="width: 100px;">
                    <span class="label label-info price">Total : <span id="amount" data-bind="text: Total">
                        0</span>kr</span>
                </div>
                <div class="span6" style="width: 280px;">
                    <form class="form-horizontal" method="POST" id="paymentForm" action="/Checkout/Pay">
                    <input placeholder="E-post" type="text" name="email" class="input-medium">
                    <button type="submit" class="btn">Gå till kassan </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modalProductDetail">
        <div class="modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3 data-bind="text:Name">Item 1</h3>
            </div>
            <div class="modal-body">
                <div class="thumbnail img">
                    <img alt="" data-bind='attr: { src: Image }'>
                </div>
                <p data-bind="text: LongDescription"></p>
            </div>
            <div class="modal-footer">
                <span class="label label-info price" data-bind="text:Price() + ' kr'"></span><a class="btn"
                    href="#" data-bind="click:basket.addFromDataBind">Köp <i class="icon-shopping-cart">
                    </i></a>
            </div>
        </div>
    </div>
    <div class="span4 alertAdd">
        <div class="alert alert-info">
            Tillagt i varukorgen!
        </div>
    </div>
    <!-- popin -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/modernizr-2.0.6-development-only.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
</body>
</html>
